.wrapperDescription{
    min-height: 60vh;
    background-color: gray;
    padding: 10%;
   
    .descriptionBlock{
        border: 2px solid red;
        min-height: max-content;
        width: 100%;
        background-color: rgb(175, 175, 175);
    }
 
}
.inverse {
    --bg-color:rgb(85, 85, 85);
    padding: 5% 0%;
    background-color: var(--bg-color, #121212);
    color:white;
    
}
.full_bleed{ 
    box-shadow: 0 0 0 100vmax var(--bg-color,#121212);
    clip-path: inset(0 -100vmax);
}