.homeWrapper {
    display: flex;
    flex-direction: column;

    .home__category_sort_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        gap: 20px;

        .home_categort {
            overflow-x: auto;
            padding: 12px 100px 0px 50px;
        }

        .home_sort {}
    }

    .home__pizza_skeletons_wrapper_flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px auto;

        @media(max-width: 767px) {
            justify-content: center;
            display: grid;
            gap: 10pxw;
            grid-template-columns: 1fr 1fr;
        }
    }
}