.box {
    // position: relative;
    max-width:500px;
    width: 100%;
  }
  



  .box__search {
   position: relative;
    height: 50px;
    max-width: 50px;
    margin: auto;
    border-radius: 25px;
 
    box-shadow: 0px 5px 10px rgb(0,0,0,0.25);
   transition: all 0.5s;
    input{
      position: absolute;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      border-radius: 25px;
      padding-left: 25px;
      font-size: 15px;
      background-color: var(--colors-bg);
      color: var(--colors-text);
      
    }
    .box__icon{
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;
      background-color:var(--colors-bg);
      color: var(--colors-text);
      border-radius:25px;
      text-align: center;
      line-height: 55px;
      font-size: 18px;
      &:hover{
        background-color: #5cdb95;
        color: black;
      }
    }
  }
   .box__search_checked{
    max-width: 400px;
 
   z-index: 100;
    @media(max-width:767px){
      max-width: 300px;
     
      border: 1px solid rgb(10, 147, 227);
    }
  }
  .box__icon_checked{
   background-color: var(--colors-bg)!important;
   color: var(--colors-text)!important;
   border-radius: 0 25px 25px 0!important;
   &:hover{
    background-color: #5cdb95!important;
    color: black;
  }
  }

  .box__clear{
    display: none;
  }
  .box__clear_checked {
    background-color: var(--colors-bg);
    display: block;
    width: 35px;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    right: 50px;
    cursor: pointer;
    color: var(--colors-text);
    z-index: 100;
    &:hover {
      opacity: 0.9;
    }
  }
  
 
  
  
  
  
  
  
   